.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  font-family: 'Georgia', serif;
  background-color: #f2e1b0;
  color: #3e2b1c;
  margin: 0;
}

header {
  background-color: rgb(72, 252, 72);
  text-align: center;
  padding: 20px 10px 10px;
}


header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
  background-color:  rgb(72, 252, 72);
}

.navbar
 {
  display:flex;
  justify-content: center;
  gap:1rem;
  text-decoration: none;
  padding: 2rem;
}

.nav-link{
  margin: 0 15px;
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
}

.hero {
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.hero-text {
  max-width: 100%;
}

.coming {
  font-weight: bold;
  font-size: 1rem;
}

.hero h2 {
  font-size: 2rem;
  margin: 10px 0;
  color: rgb(72, 252, 72);
}

.buttons button {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color:#f2e1b0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.hero-img img {
  width: auto;
  height: auto;
}

.row {
   background-color:  rgb(72, 252, 72);
   color:black;
  padding: 20px;
}

.row h3 {
  margin-bottom: 10px;
 ;
}

.thumbnails {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.thumbnails img {
  width: auto;
  height: auto;
  border-radius: 8px;
}

footer {
  background-color: black;
  color: #f8f4d4;
  text-align: center;
  padding: 15px 0;
}

.footer-icons span {
  margin: 0 20px;
  font-size: 1.2rem;
}
